body{
 background-color: rgb(195, 195, 233);
 font: normal 15pt Arial;
}
header{
color: rgb(238, 16, 153);
text-align: center;
}
section{
background-color: rgb(255, 254, 254);
border-radius: 10px;
padding: 15px;
width: 500px;
margin: auto;
text-align: center;
}
img{
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

footer{
color: rgb(238, 16, 153);
text-align: center;
font-style: italic;
}
